DOMAIN_N8N=user1.workshop-cloud.ru
DOMAIN_QDRANT=qdrant.user1.workshop-cloud.ru
DOMAIN_RSSHUB=rsshub.user1.workshop-cloud.ru

LETSENCRYPT_EMAIL=iphone.se2015@yandex.ru
N8N_IMAGE=n8nio/n8n:2.13.0
N8N_ENCRYPTION_KEY=workshop-shared-n8n-encryption-key-2026-super-long-string
TZ=Europe/Moscow